html{
    height: 50%;
}
body{
    background-color: white;
    padding-top: 0%;
    overflow: hidden;
    min-height: 50%;  
}

p {
    font-size: 40px;
} 
 select{
     margin:5% 40%;
     padding: 0.3%;
     
 }
 .goal3exp{
    margin: 0% 16%;
    padding:0%;
    color:black);
 }
 #introd{
    font-weight: 100;
    margin: 5%,40%;

 }
 
 #wordsjumble,#choosenword,#reformsent,#checksent,#correctans{
     text-align: center;
     margin-top: 3%;
 }
 #selectedWord{
     font-size: 100%;
     font-weight: 100;
     color:black;
 }
 .btn{
     margin-right: 3%;
     
 }
 #formedsent{
     margin-top: 2%;
     text-align: center;
     color:black;
     font-weight: 100;
 }
 span{
     font-weight: 100;
 }
 #correct{
     margin-top: 2%;
     font-size: 100%;
     color: green;
     text-align: center;
 }
 #wrong{
     margin-top: 2%;
     font-size: 100%;
     color: red;
     text-align: center;
 }