html{
    height: 100%;
    margin: auto;
    width: 960px;
    overflow: scroll;
}
body{
    background-color: white;
    padding-top: 0%;
    overflow: hidden;
    min-height: 50%;  
}

p {
    font-size: 40px;
} 
 select{
     margin:5% 40%;
     padding: 0.3%;
     
 }
 .goal3exp{
    margin: 0% 16%;
    padding:0%;
    color:black;
 }
 #introd{
    font-weight: 100;
    margin: 5%,40%;

 }
 
#wordsjumble{
     text-align: center;
     margin-top: 3%;
     font-size: 20px;
}
#choosenword{
    text-align: center;
     margin-top: 3%;
     font-size: 20px;
}
#reformsent{
    text-align: center;
     margin-top: 3%;
     font-size: 20px;
}
#checksent{
    text-align: center;
     margin-top: 3%;
     font-size: 20px;
}
#correctans{
    text-align: center;
     margin-top: 3%;
     font-size: 20px;
}
 #selectedWord{
     font-size: 20px;
     font-weight: 100;
     color:black;
 }
 .btn{
     margin-right: 3%;
     
 }
 #formedsent{
     margin-top: 2%;
     text-align: center;
     color:black;
     font-size: 20px;
     font-weight: 50;
 }
 span{
     font-weight: 100;
     font-size: 20px;
 }
 #correct{
     margin-top: 2%;
     font-size: 100%;
     font-size: 10px;
     color: green;
     text-align: center;
 }
 #wrong{
     margin-top: 2%;
     font-size: 100%;
     color: red;
     font-size: 20px;
     text-align: center;
 }